/** @format */

@import url("https://fonts.googleapis.com/css2?family=Kristi&family=Poppins:wght@400;600&family=Yeseva+One&display=swap");

$border-width: 0px;
$Poppins: "Poppins", sans-serif;
$Kristi: "Kristi", cursive;
$Yeseva: "Yeseva One", cursive;
$Text-color: #383737;
$primary: #d69846;
$btn-active-bg: none;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style: none;
  text-decoration: none;
  background: none;
  box-sizing: border-box;
  font-family: $Poppins;
  //   border:1px solid red;
}

.header {
  box-shadow: 0px 0.1px 3px #000;
  height: 4rem;
  transition: all 0s ease-in-out;
  background: #fff;
}

.nav-bar {
  width: 100%;
}

.navLogo {
  width: 8rem;
}

.navbar-menu {
  top: 4rem;
  left: 0rem;
  height: 24rem;
  width: 100%;
  background: #000000e1;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

.side-menu-toggle {
  right: 2.5rem;
  width: 1.1rem;
  height: 1rem;
}

.toggle1 {
  font-size: 1rem;
}

.toggle1:hover {
  color: $primary !important;
}

.toggler {
  width: auto;
  height: auto;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-icon {
  font-size: 2rem;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.menu-item {
  height: 100%;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  padding: 0rem 0.6rem 0rem 0.6rem;
}

.menu-item:hover {
  color: $primary !important;
}

#reservation-link {
  transition: all 0.3s ease-in-out;
  border: 3px solid #fff;
}

#reservation-link:hover {
  border: 3px solid #fff;
  color: #000 !important;
  background: #fff;
}

.menu-item:hover {
  background: $btn-active-bg;
}

.menu-item:active {
  background: $btn-active-bg !important;
}

.about-list,
.shop-list {
  top: 1.7rem;
  background: #000000f3;
  width: 12rem;
  height: 0rem;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.about-list:hover,
.item2:hover ~ .about-list {
  height: 16rem;
}

.about-list li a,
.shop-list li a {
  transition: all 0.2s ease-in-out;
}

.about-list li a:hover,
.shop-list li a:hover {
  color: $primary !important;
}

.shop-list:hover,
.item6:hover ~ .shop-list {
  height: 2.5rem;
}

.side-menu {
  height: 100vh;
  width: 80vw;
  right: 0rem;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}

.toggle-arrow {
  top: 0rem;
  right: 0rem;
}

.header-underline {
  width: 3rem;
}

.side-menu-text,
.side-menu-button {
  font-size: 0.8rem;
}

.side-menu-email,
.side-menu-number {
  font-size: 0.7rem;
}

.faq-banner {
  height: 80vh;
  background: linear-gradient(#0000008e, #0000008e),
    url(../Images/dinner.jpeg) center/cover no-repeat fixed;
}

.faq-banner-container {
  width: 100%;
  height: 100%;
}

.faq-first-text {
  font-family: $Kristi;
  font-size: 2.5rem;
}

.faq-main-text {
  font-family: $Yeseva;
}

.faq {
  height: auto;
}

.faq-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  align-items: center;
  justify-items: center;
}

.faq1,
.faq2,
.faq3,
.faq4,
.faq5,
.faq6,
.faq7,
.faq8 {
  width: 100%;
  height: 3.5rem;
  position: relative;
  border: 1px solid $primary;
}

.faq-header {
  font-size: 0.9rem;
}

.faq-icon1,
.faq-icon2,
.faq-icon3,
.faq-icon4,
.faq-icon5,
.faq-icon6,
.faq-icon7,
.faq-icon8 {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 1.1rem;
}

.faq-text1,
.faq-text2,
.faq-text3,
.faq-text4,
.faq-text5,
.faq-text6,
.faq-text7,
.faq-text8 {
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
}

.faq-event-banner {
  height: 50vh;
  background: linear-gradient(#0000008e, #0000008e),
    url(../Images/lunch_1.png) center/cover no-repeat fixed;
}

.faq-event-container {
  width: 100%;
  height: 100%;
}

.faq-host-first-text {
  font-family: $Kristi;
  font-size: 2rem;
}

.faq-host-main-text {
  font-family: $Yeseva;
}

.faq-reservation-first-text {
  font-family: $Kristi;
  font-size: 2rem;
}

.faq-reservation-main-text {
  font-family: $Yeseva;
  font-size: 1.5rem;
}

.faq-reservation-text {
  font-size: 0.8rem;
}

.reservations-form {
  border: 1px solid $primary;
  height: auto;
  position: relative;
}

.reservations-form::after {
  content: "";
  border: 1px solid $primary;
  width: 99%;
  height: 102%;
  position: absolute;
  //   padding: 0rem 1rem 0rem 1rem;
}

.guest-section,
.date-section,
.time-section {
  width: 95%;
}

.guest-menu,
.date-menu,
.time-menu {
  width: 100% !important;
  height: 2.5rem;
  border: 1px solid #dbdbdb;
  background: #f6f6f6;
}

.guest-list,
.date-list,
.time-list {
  width: 100%;
}

.guest-menu:focus-within,
.date-menu:focus-within,
.time-menu:focus-within {
  border: 1px solid $primary;
}

.guest-list,
.date-list,
.time-list {
  background: #fff;
  top: 2.5rem;
  left: 0rem;
  height: 0rem;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  z-index: 10;
  box-shadow: 0px 1px 5px #000;
}

.guest-inputfield,
.date-inputfield,
.time-inputfield {
  font-size: 0.8rem;
  color: #8a8888;
}

.guesttoggler,
.datetoggler,
.timetoggler {
  transition: all 0.2s ease-in-out;
  color: #959292;
  font-size: 0.8rem;
}

.item {
  font-size: 0.8rem;
}

.guest-name,
.guest-email,
.guest-phone-number {
  border: 1px solid $Text-color;
  font-size: 0.8rem;
  height: 2.5rem;
  width: 95% !important;
  color: #bebcbc;
  border: 1px solid #dbdbdb;
  background: #f6f6f6;
}

.guest-name:focus,
.guest-email:focus,
.guest-phone-number:focus {
  border: 1px solid $primary;
  box-shadow: none;
  background: #f6f6f6;
  height: 2.5rem;
}

.reservation-submit {
  width: 95% !important;
  font-size: 0.8rem;
}

.contact {
  background: #242221;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.first-address-text {
  font-size: 0.9rem;
}

.second-address-text {
  font-size: 0.8rem;
}

.map-link {
  font-size: 0.8rem;
  position: relative;
}

.map-link::after {
  content: "";
  position: absolute;
  top: 1.3rem;
  left: 0rem;
  width: 100%;
  height: 2px;
  background: $primary;
}

.footer-logo {
  width: 7rem;
  height: 4.5rem;
}

.newsletter {
  grid-area: 1/1/2/2;
}

.newsletter-first-text {
  font-size: 0.8rem;
}

.newsletter-form {
  border: 1px solid $primary;
  width: 100%;
  height: 2.5rem;
  position: relative;
}

.newsletter-form::after {
  content: "";
  position: absolute;
  width: 99%;
  height: 2.9rem;
  border: 1px solid $primary;
}

.newsletter-email {
  width: 80%;
  height: 100%;
  font-size: 0.7rem;
  background: none;
  border: none;
  color: white;
}

.newsletter-email:focus {
  color: white;
  background: none;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.newsletter-submit {
  width: 20%;
  height: 100%;
  font-size: 0.8rem;
}

.social-icon {
  font-size: 1.1rem;
  color: #fff;
}

.private-dining h5 {
  font-size: 0.9rem;
}

.private-dining p {
  font-size: 0.8rem;
  position: relative;
}

.private-dining-reservations::after {
  content: "";
  position: absolute;
  top: 1.3rem;
  left: 0rem;
  width: 100%;
  height: 2px;
  background: $primary;
}

.footer li {
  font-size: 0.8rem;
}

.copyright {
  font-size: 0.7rem;
}

.hidden {
  display: none;
}

.scrolled {
  background-color: #fff !important;
  box-shadow: 0px 0.1px 3px #000 !important;
}

.scrolled-color {
  color: #000 !important;
}

.scrolled-button {
  color: #000 !important;
  border: 3px solid #000 !important;
}

@media screen and (min-width: 320px) {
  .navbar-menu {
    top: 4rem;
  }
}

@media screen and (min-width: 375px) {
  .side-menu-text {
    font-size: 0.85rem;
  }

  .social-icon {
    font-size: 1.3rem;
  }

  .side-menu-email,
  .side-menu-number,
  .side-menu-button {
    font-size: 1rem;
  }

  .faq-main-text {
    font-size: 2rem;
  }

  .faq-text1,
  .faq-text2,
  .faq-text3,
  .faq-text4,
  .faq-text5,
  .faq-text6,
  .faq-text7,
  .faq-text8 {
    font-size: 0.9rem;
  }

  .faq-host-main-text {
    font-size: 2rem;
  }

  .faq-reservation-main-text {
    font-size: 2rem;
  }

  .faq-reservation-text {
    font-size: 0.9rem;
  }

  .guest-inputfield,
  .time-inputfield,
  .date-inputfield,
  .guest-name,
  .guest-email,
  .guest-phone-number {
    font-size: 0.9rem;
  }

  .newsletter-first-text {
    font-size: 0.9rem;
  }

  .newsletter-email {
    font-size: 0.9rem;
  }

  .first-address-text {
    font-size: 1.2rem;
  }

  .second-address-text {
    font-size: 0.9rem;
  }

  .map-link {
    font-size: 1rem;
  }

  .private-dining h5 {
    font-size: 1.2rem;
  }

  .private-dining p {
    font-size: 0.9rem;
  }

  .footer li {
    font-size: 1rem;
  }

  .copyright {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 576px) {
  .side-menu-toggle {
    right: 3rem;
  }

  .reservations-form {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-items: center;
    grid-gap: 1rem;
  }

  .guest-menu,
  .date-menu,
  .time-menu,
  .guest-name,
  .guest-email,
  .guest-phone-number {
    height: 3rem;
    width: 14rem !important;
  }

  .guest-inputfield,
  .date-inputfield,
  .time-inputfield {
    font-size: 0.9rem;
  }

  .reservation-submit {
    grid-area: 4/1/5/3;
    height: 3rem;
    width: 30.5rem !important;
  }

  .newsletter-form {
    height: 3rem;
  }

  .newsletter-form::after {
    content: "";
    position: absolute;
    width: 99%;
    height: 3.3rem;
    border: 1px solid $primary;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 5rem;
  }

  .navLogo {
    width: 11rem;
  }

  .navbar-menu {
    top: 5rem;
  }

  .side-menu {
    width: 23rem;
  }

  .faq1,
  .faq2,
  .faq3,
  .faq4,
  .faq5,
  .faq6,
  .faq7,
  .faq8 {
    height: 5rem;
  }

  .faq-header {
    font-size: 1rem;
  }

  .reservations-form::after {
    width: 99.2%;
    height: 102.5%;
  }

  .guest-menu,
  .date-menu,
  .time-menu,
  .guest-name,
  .guest-email,
  .guest-phone-number {
    width: 20rem !important;
  }

  .reservation-submit {
    width: 42rem !important;
  }

  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .newsletter {
    grid-area: 1/2/2/3;
  }

  .second-address-text {
    font-size: 0.8rem;
  }

  .newsletter-first-text {
    font-size: 0.8rem;
  }

  .newsletter-email {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 900px) {
  .header {
    box-shadow: 0px 0.1px 3px #fff;
    height: 5rem;
    transition: all 0.5s ease-in-out;
    background: transparent;
  }

  .navbar-menu {
    height: 100%;
    top: 0px;
    background: transparent;
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
  }

  .menu-item {
    font-size: 1rem;
  }

  .navbar-menu li {
    height: 100% !important;
  }

  .about-list,
  .shop-list {
    top: 5rem;
  }

  .side-menu-toggle {
    right: 0rem;
  }

  .toggle1 {
    color: #fff;
  }

  .faq-reservation-text {
    font-size: 1rem;
  }

  .guest-menu,
  .date-menu,
  .time-menu,
  .guest-name,
  .guest-email,
  .guest-phone-number {
    width: 24rem !important;
  }

  .guest-inputfield,
  .time-inputfield,
  .date-inputfield,
  .guest-name,
  .guest-email,
  .guest-phone-number {
    font-size: 1rem;
  }

  .reservation-submit {
    width: 50rem !important;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .side-menu-toggle {
    right: 1rem;
  }

  .navbar-menu {
    right: 1.5rem;
  }

  .faq-main-text {
    font-size: 3rem;
  }

  .faq-host-first-text {
    font-size: 2.5rem;
  }

  .faq-host-main-text {
    font-size: 2.5rem;
  }

  .guest-menu,
  .date-menu,
  .time-menu,
  .guest-name,
  .guest-email,
  .guest-phone-number {
    width: 12.5rem !important;
  }

  .reservations-form {
    width: 55rem !important;
  }

  .guest-menu,
  .date-menu,
  .time-menu,
  .guest-name,
  .guest-email,
  .guest-phone-number {
    width: 25rem !important;
  }

  .reservation-submit {
    width: 52rem !important;
  }
}

@media screen and (min-width: 1200px) {
  .nav-bar {
    width: 1201px;
  }

  .menu-item {
    font-size: 1.1rem;
  }

  .newsletter-first-text,
  .second-address-text,
  .private-dining p {
    font-size: 1rem;
  }
}

@media screen and (min-height: 800px) {
  .faq-banner {
    height: 640px;
  }

  .faq-event-banner {
    height: 400px;
  }
}
