/** @format */

@import url("https://fonts.googleapis.com/css2?family=Kristi&family=Poppins&family=Yeseva+One&display=swap");

$border-width: 0px;

$Poppins: "Poppins", sans-serif;
$Kristi: "Kristi", cursive;
$Yeseva: "Yeseva One", cursive;
$Text-color: #2b2a2a;
$primary: #d69846;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style: none;
  text-decoration: none;
  background: none;
  box-sizing: border-box;
  font-family: $Poppins;
}

.navbar-brand img {
  width: 8rem;
}

.navbar-toggler {
  border: $border-width;
  width: 50px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%;
}

.gradient-container {
  width: 100%;
  height: 100%;
}

.carouselImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.gradient-container::after {
  content: "yoooo";
  position: absolute;
  top: 100x;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(#0000008e, #0000008e);
}

.carousel-main-text {
  color: #ffffff;
  text-align: center;
  font-size: 3.5rem;
  font-family: $Yeseva;
  margin: 0rem 0rem 1.5rem 0rem;
}

.banner-button {
  display: none;
}

.sub-text {
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  font-family: $Kristi;
}

.menu-header {
  font-family: $Kristi;
  font-size: 2rem;
}

.menu-header br {
  display: none;
}

.header-underline {
  width: 4rem;
}

.menu-text {
  font-family: $Yeseva;
  font-size: 1.5rem;
  line-height: 2rem;
}

.first-menu {
  height: 20rem;
  background: linear-gradient(#0000005f, #0000005f),
    url(../Images/Marinana.png) center/cover no-repeat;
}

.second-menu {
  height: 20rem;
  background: linear-gradient(#0000005f, #0000005f),
    url(../Images/Shop_banner_2.jpeg) center/cover no-repeat;
}

.third-menu {
  height: 20rem;
  background: linear-gradient(#0000005f, #0000005f),
    url(../Images/Shop_banner_4.jpeg) center/cover no-repeat;
}

.first-menu-text,
.second-menu-text,
.third-menu-text {
  color: whitesmoke;
  font-size: 2.2rem;
  font-family: $Kristi;
}

.menu-end-text {
  font-size: 0.8rem;
}

.discover-our-story {
  width: 7.5rem;
  position: relative;
  font-size: 0.8rem;
  font-weight: bolder;
}

.discover-our-story::after {
  position: absolute;
  content: "";
  top: 1.1rem;
  left: 0rem;
  width: 100%;
  height: 2px;
  background: $Text-color;
}

.cta {
  height: auto;
  background: linear-gradient(#0000008e, #0000008e),
    url(../Images/Tomato_soup.webp) center/cover no-repeat;
}

.cta-sub-text {
  font-family: $Kristi;
  font-size: 1.7rem;
}

.cta-main-text {
  font-family: $Yeseva;
  font-size: 2rem;
}

.cta-sub-text-2 {
  font-size: 0.8rem;
}

.signatory {
  font-family: $Kristi;
  font-size: 2rem;
}

.food-menu-sub-text {
  font-family: $Kristi;
  font-size: 2rem;
}

.food-menu-header {
  font-family: $Yeseva;
  font-size: 1.6rem;
}

.food-menu-container .text {
  font-size: 0.8rem;
}

.meals {
  position: relative;
}

.meals::after {
  position: absolute;
  content: "";
  top: 1.2rem;
  right: 7.25rem;
  width: 3rem;
  height: 2px;
  background: $Text-color;
}

.first-meal-menu {
  width: 100%;
  border: 1px solid $primary;
}
