/** @format */
@import url("https://fonts.googleapis.com/css2?family=Kristi&family=Poppins:wght@400;600&family=Yeseva+One&display=swap");

$border-width: 0px;
$Poppins: "Poppins", sans-serif;
$Kristi: "Kristi", cursive;
$Yeseva: "Yeseva One", cursive;
$Text-color: #2b2a2a;
$primary: #d69846;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style: none;
  text-decoration: none;
  background: none;
  box-sizing: border-box;
  font-family: $Poppins;
}

.navbar-brand img {
  width: 8rem;
}

.navbar-toggler {
  border: $border-width;
  width: 40px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%;
}

.gradient-container {
  width: 100%;
  height: 100%;
}

.carouselImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.gradient-container::after {
  content: "yoooo";
  position: absolute;
  top: 100x;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(#0000008e, #0000008e);
}

.captions {
  width: 80%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-main-text {
  color: #ffffff;
  text-align: center;
  font-size: 1.8rem;
  font-family: $Yeseva;
  margin: 0rem 0rem 1.5rem 0rem;
}

.banner-button {
  display: none;
}

.banner .sub-text {
  color: #ffffff;
  text-align: center;
  font-size: 1.7rem;
  font-family: $Kristi;
}

.menu-header {
  font-family: $Kristi;
  font-size: 2rem;
}

.menu-header br {
  display: none;
}

.header-underline {
  width: 4rem;
}

.menu-text {
  font-family: $Yeseva;
  font-size: 1.5rem;
  line-height: 2rem;
}

.first-menu {
  height: 20rem;
  background: linear-gradient(#0000005f, #0000005f),
    url(../Images/Marinana.png) center/cover no-repeat;
}

.second-menu {
  height: 20rem;
  background: linear-gradient(#0000005f, #0000005f),
    url(../Images/Shop_banner_2.jpeg) center/cover no-repeat;
}

.third-menu {
  height: 20rem;
  background: linear-gradient(#0000005f, #0000005f),
    url(../Images/Shop_banner_4.jpeg) center/cover no-repeat;
}

.first-menu-text,
.second-menu-text,
.third-menu-text {
  color: whitesmoke;
  font-size: 2.2rem;
  font-family: $Kristi;
}

.menu-end-text {
  font-size: 0.8rem;
}

.discover-our-story {
  width: 7.5rem;
  position: relative;
  font-size: 0.8rem;
  font-weight: bolder;
}

.discover-our-story::after {
  position: absolute;
  content: "";
  top: 1.1rem;
  left: 0rem;
  width: 100%;
  height: 2px;
  background: $Text-color;
}

.cta {
  height: auto;
  background: linear-gradient(#0000008e, #0000008e),
    url(../Images/Tomato_soup.webp) center/cover no-repeat fixed;
}

.cta-sub-text {
  font-family: $Kristi;
  font-size: 1.7rem;
}

.cta-main-text {
  font-family: $Yeseva;
  font-size: 2rem;
}

.cta-sub-text-2 {
  font-size: 0.8rem;
}

.signatory {
  font-family: $Kristi;
  font-size: 2rem;
}

.food-menu-sub-text {
  font-family: $Kristi;
  font-size: 2rem;
}

.food-menu-header {
  font-family: $Yeseva;
  font-size: 1.6rem;
}

.food-menu-container .text {
  font-size: 0.8rem;
}

.meals {
  position: relative;
}

.meals::before {
  position: absolute;
  content: "";
  top: 1.3rem;
  margin: 0px auto;
  width: 3rem;
  height: 2px;
  background: $Text-color;
}

.first-meal-menu,
.second-meal-menu {
  width: 100%;
  border: 1px solid $primary;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-meal-menu::after,
.second-meal-menu::after {
  position: absolute;
  content: "";
  width: 98.5%;
  height: 101%;
  border: 1px solid $primary;
}

.header-text {
  font-family: $Poppins;
  font-weight: bold;
  font-size: 0.9rem;
}

.price {
  font-family: $Kristi;
  font-size: 2rem;
}

.menu-sub-text {
  font-size: 0.8rem;
  border-bottom: 2px dotted #000;
}

.explore-food-menu {
  position: relative;
  font-family: $Poppins;
  font-size: 0.8rem;
}

.explore-food-menu::before {
  position: absolute;
  content: "";
  top: 1.3rem;
  margin: 0px auto;
  width: 7rem;
  height: 2px;
  background: $Text-color;
}

.testimonials {
  background: linear-gradient(#0000008e, #0000008e),
    url(../Images/Muffins.jpeg) center/cover no-repeat fixed;
}

.testimonials-first-text {
  font-family: $Kristi;
  font-size: 2rem;
}

.testimonials-second-text {
  font-family: $Yeseva;
  font-size: 2rem;
}

.star-icons .fa-star {
  color: #ffd700;
}

.testimonial-block {
  width: 100%;
  height: 22rem;
}

.testimonial-background {
  background: #f5f5f5;
  width: 100%;
  height: 90%;
  border-radius:0.5rem;
}

.testimony-border {
     border:1px solid $primary;
}

.testimony-border::after {
     content:"";
     position: absolute;
     width:98%;
     height:103%;
     border:1px solid $primary;
}

.testimony {
  font-size: 0.9rem !important;
}

.testifier-pic {
     width:2.5rem;
     height:2.5rem;
     object-fit: cover;
     object-position: bottom;
}

.testifier-name {
     font-size:0.9rem;
}

.testifier-title {
  font-family: $Kristi;
  font-size:1.5rem;
}

// USE SCROLL SNAP FOR TESTIMONY

.first-event-img {
  background: url(../Images/Gaby.jpeg) center/cover no-repeat;
  width: 6rem;
  height: 8rem;
}

.second-event-img {
  background: url(../Images/Spaghetti.jpeg) center/cover no-repeat;
  width: 6rem;
  height: 8rem;
}

.first-event-text {
  font-family: $Kristi;
  font-size: 2rem;
}

.second-event-text {
  font-family: $Yeseva;
  font-size: 1.5rem;
}

.event-text .header-underline {
  width: 3rem;
}

.third-event-text {
  font-size: 0.8rem;
}

.events-cta-paragraph {
  font-size: 0.9rem;
  position: relative;
}

.events-cta-paragraph::before {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 0rem;
  width: 100%;
  height: 2px;
  background: $Text-color;
}

.reservations {
  background: url(../Images/Chile-Spiked-Beans.jpeg) center/cover no-repeat;
}

.reservations-container {
  width: 100%;
}

.sub-section {
  border: 1px solid $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sub-section::after {
  content: "";
  position: absolute;
  width: 98%;
  height: 102%;
  border: 1px solid $primary;
}

.first-section-text-1 {
  font-family: $Kristi;
  font-size: 1.5rem;
}

.first-section-text-2 {
  font-family: $Yeseva;
  font-size: 1.5rem;
}

.worktime {
  border-bottom: 2px dotted #fff;
  width: 80%;
}

.worktime .first-section-text,
.worktime .service-time {
  font-size: 0.8rem;
}

.call-us-now {
  font-size: 1.7rem;
  font-family: $Kristi;
}

.call-number {
  font-size: 1.5rem;
  font-family: $Yeseva;
}

.second-section {
  border: 1px solid $primary;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.second-section:after {
  content: "";
  position: absolute;
  width: 98.7%;
  height: 101.5%;
  border: 1px solid $primary;
}

.second-section-text {
  font-size: 0.8rem;
}

.guests,
.date,
.time {
  border: 1px solid $Text-color;
}

.guest-name,
.guest-email,
.guest-phone-number {
  border: 1px solid $Text-color;
  font-size: 0.8rem;
  height: 2.5rem;
}

.guest-name:focus,
.guest-email:focus,
.guest-phone-number:focus {
  border: 1px solid $Text-color;
  box-shadow: none;
  height: 2.5rem;
  color: #fff;
}

.reservation-submit {
  font-size: 0.8rem;
}

.news-first-text {
  font-family: $Kristi;
  font-size: 2.5rem;
}

.news-second-text {
  font-family: $Yeseva;
  font-size: 1.6rem;
}

.news .header-underline {
  width: 3rem;
}

.news-third-text {
  font-size: 0.8rem;
}

.news-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  align-items: center;
  justify-items: center;
}

.news-block-1,
.news-block-2,
.news-block-3 {
  height: auto;
  border: none;
}

.news-block-1 img,
.news-block-2 img,
.news-block-3 img {
  height: 11rem;
  object-fit: cover;
}

.alert-1,
.alert-2 {
  font-size: 0.7rem;
}

.news-block-header {
  font-size: 0.9rem;
}

.news-block-date {
  font-size: 0.7rem;
}

.news-block-text {
  font-size: 0.8rem;
}

.news-readmore {
  font-size: 0.8rem;
  position: relative;
}

.news-readmore::after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 0rem;
  width: 100%;
  height: 2px;
  background: $Text-color;
}

.contact {
  background: #242221;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.first-address-text {
  font-size: 0.9rem;
}

.second-address-text {
  font-size: 0.8rem;
}

.map-link {
  font-size: 0.8rem;
  position: relative;
}

.map-link::after {
  content: "";
  position: absolute;
  top: 1.3rem;
  left: 0rem;
  width: 100%;
  height: 2px;
  background: $primary;
}

.footer-logo {
  width: 7rem;
  height: 4.5rem;
}

.newsletter {
  grid-area: 1/1/2/2;
}

.newsletter-first-text {
  font-size: 0.8rem;
}

.newsletter-form {
  border: 1px solid $primary;
  width: 100%;
  height: 2.5rem;
  position: relative;
}

.newsletter-form::after {
  content: "";
  position: absolute;
  width: 99%;
  height: 2.9rem;
  border: 1px solid $primary;
}

.newsletter-email {
  width: 80%;
  height: 100%;
  font-size: 0.7rem;
  background:none;
  border:none;
  color:white;
}

.newsletter-email:focus {
    color: white;
    background: none;
    border-color:none;
    outline: 0;
    box-shadow: none;
}

.newsletter-submit {
  width: 20%;
  height: 100%;
  font-size: 0.8rem;
}

.social-icon {
  font-size: 1.1rem;
}

.private-dining h5 {
  font-size: 0.9rem;
}

.private-dining p {
  font-size: 0.8rem;
  position: relative;
}

.private-dining-reservations::after {
  content: "";
  position: absolute;
  top: 1.3rem;
  left: 0rem;
  width: 100%;
  height: 2px;
  background: $primary;
}

.footer li {
  font-size: 0.8rem;
}

.copyright {
  font-size: 0.7rem;
}

// placeholder for newletter email not showing
// REMEMBER TO CHANGE THE NAVIGATION COLOR AND ADD COLOR ON SCROLL
// USE JAVASCRIPT FOR NAVIGATION MENU
// CHECK THE SELECTED MENU AND OPTIMIZE THE OPTION VALUE SECTION
